.cssload-container *, .cssload-container *:before, .cssload-container *:after{
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-container {
	margin: 138px auto;
	width: 165px;
	height: 83px;
}
.cssload-container > div {
	float: left;
	background: rgb(236,245,110);
	height: 100%;
	width: 14px;
	margin-right: 3px;
	display: inline-block;
}

.cssload-container .cssload-shaft1 {
	animation-delay: 0.05s;
		-o-animation-delay: 0.05s;
		-ms-animation-delay: 0.05s;
		-webkit-animation-delay: 0.05s;
		-moz-animation-delay: 0.05s;
}
.cssload-container .cssload-shaft2 {
	animation-delay: 0.1s;
		-o-animation-delay: 0.1s;
		-ms-animation-delay: 0.1s;
		-webkit-animation-delay: 0.1s;
		-moz-animation-delay: 0.1s;
}
.cssload-container .cssload-shaft3 {
	animation-delay: 0.15s;
		-o-animation-delay: 0.15s;
		-ms-animation-delay: 0.15s;
		-webkit-animation-delay: 0.15s;
		-moz-animation-delay: 0.15s;
}
.cssload-container .cssload-shaft4 {
	animation-delay: 0.2s;
		-o-animation-delay: 0.2s;
		-ms-animation-delay: 0.2s;
		-webkit-animation-delay: 0.2s;
		-moz-animation-delay: 0.2s;
}
.cssload-container .cssload-shaft5 {
	animation-delay: 0.25s;
		-o-animation-delay: 0.25s;
		-ms-animation-delay: 0.25s;
		-webkit-animation-delay: 0.25s;
		-moz-animation-delay: 0.25s;
}
.cssload-container .cssload-shaft6 {
	animation-delay: 0.3s;
		-o-animation-delay: 0.3s;
		-ms-animation-delay: 0.3s;
		-webkit-animation-delay: 0.3s;
		-moz-animation-delay: 0.3s;
}
.cssload-container .cssload-shaft7 {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-container .cssload-shaft8 {
	animation-delay: 0.4s;
		-o-animation-delay: 0.4s;
		-ms-animation-delay: 0.4s;
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
}
.cssload-container .cssload-shaft9 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}
.cssload-container .cssload-shaft10 {
	animation-delay: 0.5s;
		-o-animation-delay: 0.5s;
		-ms-animation-delay: 0.5s;
		-webkit-animation-delay: 0.5s;
		-moz-animation-delay: 0.5s;
}

.cssload-container {
	height: 110px;
	width: 248px;
	overflow: hidden;
}
.cssload-container > div {
	width: 22px;
	position: relative;
	bottom: -6px;
	margin-top: 102px;
	height: 8px;
	transform: skewY(0deg);
	animation: cssload-wave 1.5s infinite ease-in-out;
		-o-animation: cssload-wave 1.5s infinite ease-in-out;
		-ms-animation: cssload-wave 1.5s infinite ease-in-out;
		-webkit-animation: cssload-wave 1.5s infinite ease-in-out;
		-moz-animation: cssload-wave 1.5s infinite ease-in-out;
}



@keyframes cssload-wave {
	25% {
		transform: skewY(25deg);
	}
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(209,126,25);
		transform: skewY(0);
	}
	75% {
		transform: skewY(-25deg);
	}
}

@-o-keyframes cssload-wave {
	25% {
		-o-transform: skewY(25deg);
	}
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(209,126,25);
		-o-transform: skewY(0);
	}
	75% {
		-o-transform: skewY(-25deg);
	}
}

@-ms-keyframes cssload-wave {
	25% {
		-ms-transform: skewY(25deg);
	}
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(209,126,25);
		-ms-transform: skewY(0);
	}
	75% {
		-ms-transform: skewY(-25deg);
	}
}

@-webkit-keyframes cssload-wave {
	25% {
		-webkit-transform: skewY(25deg);
	}
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(209,126,25);
		-webkit-transform: skewY(0);
	}
	75% {
		-webkit-transform: skewY(-25deg);
	}
}

@-moz-keyframes cssload-wave {
	25% {
		-moz-transform: skewY(25deg);
	}
	50% {
		height: 100%;
		margin-top: 0;
		background: rgb(209,126,25);
		-moz-transform: skewY(0);
	}
	75% {
		-moz-transform: skewY(-25deg);
	}
}